{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}about{% endblock %}
{% block content %}
<section class="about-group">
{% for about in object_list %}
	<article class="about-block">
		<h1>{{ about.title }}</h1>
		<div class="about-body">
			{% if about.image %}
			<div class="about-image"><img src="{{ about.image.url }}" /></div>
			{% endif %}
			<div class="about-text">{{ about.text }}</div>
		</div>
	</article>
{% endfor %}
</section>
<section class="about-sources">
<h2>{{ sources.title }}</h2>
{{ sources.text_html|safe }}
<div class="about-credits">
<h3>{{ credits.title }}</h3>
{{ credits.text_html|safe }}
</div>
</section>
{% endblock content %}
