{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}about{% endblock %}
{% block content %}
<aside>
<p>Although we tend to think of our cities as concrete jungles, our post-new urban environment is awash in plant life. Wild urban plants have taken root along roadsides and chain-link fences, between cracks of pavement, and within vacant lots, rubble dumps and highway medians. Spontaneously propagating, these resilient plants find distinctive niches to thrive in and inhabit our most derelict landscapes. The environmental benefits of these “weeds” go widely unrecognized when, in fact, reframing this often invisible urban ecology as a beneficial amenity can offer a fresh perspective on how cities perform.</p>
<p><strong>Spontaneous Urban Plants</strong> (SUP) is a research project that investigates the role of weeds in the urban ecosystem. The intent is to stimulate a discourse between ecologists, designers, artists and the general public that explores societal perceptions of weeds and questions the stigmas that surround them. Leveraging principles of urban ecology and environmental aesthetics, we are encouraging an objective debate of the value of wild urban plants and thereby challenging contemporary cultural perceptions.</p>
<p>As our cities grow in density, population and number, our urban landscapes must be both aesthetically pleasing and ecologically productive. By utilizing wild urban plants, we can design with a palette of vegetation adapted to existing urban soils, widely available and attractive to pollinators and other wildlife. Over time, the patchwork ecology of widespread SUP could enable the emergence of more resilient, adaptable and sustainable cities.</p>
<p>At Future Green we are inviting members of the public interact with the weeds by traversing urban spaces on foot and documenting their findings through social media application Instagram. This allows us to consider the aesthetic value of the environment from the individual’s perspective through immediate and hands-on experience. The Interactive MAP filters photos by species or performance attributes, thus highlighting SUP’s ecological, cultural, and aesthetic significance.</p>
   
<h3>How to participate?</h3> 

<p>Join us and help us expand our inventory on Instagram by tagging your photos with 
#spontaneousurbanplants.</p>

<ul class="social">
  <li class="instagram">Follow us on <a href="http://instagram.com/spontaneousurbanplants">Instagram</a></li>
  <li class="facebook">Join our <a href="https://www.facebook.com/spontaneousurbanplants">Facebook 
page</a></li>
</ul>

<h3>Adding Hashtags</h3> 

<ol class="number-list">
	<li>Find a SUP and take a picture with instagram app on your smart phone</li>
	<li>Write #spontaneousurbanplants as the caption</li>
	<li>Make sure that “Add to photo Map” is activated</li>
	<li>Touch the share button</li>
</ol>

<p>Project created, designed and funded by <a href="http://futuregreenstudio.com">Future 
Green Studio</a>. 

</aside>
<section>
	<img src="{% static 'images/about_diagram.png'  %}" />
</section>
{% endblock content %}