{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}book{% endblock %}
{% block content %}
<section class="book-image">
    {% if book.image %}
        <img src="{{ book.image.url }}" />
    {% endif %}
</section>
<section class="book-content">
    <header>
        <h1>{{ book.title }}</h1>
        {% if book.subtitle %}
        <h2>{{ book.subtitle }}</h2>
        {% endif %}
        {% if book.author %}
        <h3>By {{ book.author }}</h3>
        {% endif %}
        {% if book.coauthor %}
        <h3>With {{ book.coauthor }}</h3>
        {% endif %}
    </header>
    <article>
        <section class="book-description">
            {% if book.description_html %}
                {{ book.description_html|safe }}
            {% endif %}
        </section>
        <section>
            {% if book.product_detail_html %}
                {{ book.product_detail_html|safe }}
            {% endif %}
        </section>
</section>
{% endblock content %}
