{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}book{% endblock %}
{% block content %}
<section>
    {% if book.image %}
        <img src="{{ book.image.url }}" />
    {% endif %}
    <h1>{{ book.title }}</h1>
    {% if book.subtitle %}
    <h2>{{ book.subtitle }}</h2>
    {% endif %}
    {% if book.author %}
    <h3>{{ book.author }}</h3>
    {% endif %}
    {% if book.coauthor %}
    <h3>With {{ book.coauthor }}</h3>
    {% endif %}
    {% if book.description_html %}
    {{ book.description_html|safe }}
    {% endif %}
    {% if book.product_detail_html %}
    {{ book.product_detail_html|safe }}
    {% endif %}
</section>
{% endblock content %}
