{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}profiles{% endblock %}
{% block content %}

<section class="slideshow">
{% if plant.get_images %}
    <div class="slidwshow-carousel">
{% for image in plant.get_images %}
        <figure class="slideshow-slide">
          <img src="{{ image.image_file.url }}" alt="{{ image.caption }}" />
          
          <figcaption>
                {% if image.caption %}<span class="caption-description">{{ image.caption }}</span>{% endif %}
                {% if image.caption %}<span class="caption-date">{{ image.created|date:"M d, Y - f A"}}</span>{% endif %}
                <span class="caption-location">{{ image.coordinates.y }} {{ image.coordinates.x }}</span>
          </figcaption>
        </figure>
{% endfor %}
    <div>
{% endif %}
</section>
<section class="details">
    <h1>{{ plant.latin_name }}</h1>
    <h2>{{ plant.common_name }}</h2>
    {% if plant.seasonality_chart %}
    <p><img src="{{ plant.seasonality_chart.url }}" /></p>
    {% endif %}
    <p class="description"><strong>Botanical description:</strong> {{ plant.description }}</p>
    <div class="metrics">
        <h3>Indexed</h3>
        <p class="count">{{ plant.image_count }}</p>
        <h3>Place of Origin</h3>
        <p class="origin">{{ plant.origin }}</p>
        <div class="attributes">
            {% for attribute in plant.attributes.all %}<p><img src="{{ attribute.icon.url }}" /></p>{% endfor %}
        </div>
    </div>
</section>
{% endblock content %}