{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section>
	{% for image in plant.get_images %}
	<img src="{{ image.remote_thumbnail_url }}" />
	{% endfor %}
</section>
<section>
<p>{{ plant.latin_name }}</p>
<p>{{ plant.common_name }}</p>
<p>{{ plant.description }}</p>
<p>{{ plant.flowers }}</p>
<p>{{ plant.habitat }}</p>
<p>{{ plant.origin }}</p>
<p>{% for category in plant.categories.all %}{{ category }}{% endfor %}<p>

<p>{{ plant.image_count }}</p>
<p>Stormwater: {{ plant.get_stormwater_total }} gallons</p>
</section>
{% endblock content %}