// Typography
$sans-serif: "nimbus-sans", $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$heading-font-family: "nimbus-sans-condensed";

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #5E717D;
$dark-blue: darken($blue, 25);
$medium-blue: lighten($blue, 15);
$light-blue: lighten($blue, 30);
$accent-blue: #85AEC9;
$tan: #C9C5A2;
$dark-tan: darken($tan, 15);
$medium-tan: lighten($tan, 5);
$light-tan: lighten($tan, 15);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #EE3C23;
$light-yellow: #FFF6BF;
$light-green: rgb(96, 133, 78);

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;
$base-accent-color: $blue;
$base-border-color: $blue;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
