// Typography
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$serif: $georgia;
$base-font-family: $sans-serif;
$heading-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.875rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: rgb(73, 83, 72);
$gray: rgb(130, 130, 130);
$light-gray: rgb(187, 189, 191);
$green: rgb(210, 223, 59);
$pink: rgb(235, 31, 136);
$aqua: rgb(0, 165, 162);
$blue: rgb(13, 118, 152);
$orange: rgb(220, 77, 22);


// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $green;
$base-accent-color: $green;


// Border
$base-border-color: $green;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
