{% extends "base.html" %}
{% block body_class%}news{% endblock body_class %}
{% block content %}
{% load news_tags %}
<header>
    <aside>{{ news.date_published|date:"M d, Y" }}</aside>
    <h1>{{ news.title }}</h1>
</header>
<section class="news-item">
    <figure>
    {% for image in object.newsitemimage_set.all %}
        <div>
            <img src="{{ image.image_file.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
        </div>
    {%  endfor %}
    </figure>
    {{ object.body_html|safe }}
</section>
<aside class="news-archive">
    <h2 class="news-archive-title--mailinglist">Subscribe to our mailing list</h2>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//futuregreenstudio.us7.list-manage.com/subscribe/post?u=1805ba4844b2f9239bd91bd7e&amp;id=3dc97928d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <fieldset>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </fieldset>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1805ba4844b2f9239bd91bd7e_3dc97928d1" tabindex="-1" value=""></div>
        </form>
    </div>
    <!--End mc_embed_signup-->
    <h2 class="news-archive-title--archive">Archive</h2>
    <ul class="linked-list">
    {% get_latest_news 10 as news_list %}
    {%  for news in news_list %}
        <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endblock content %}
