{% extends "base.html" %}
{% block body_class%}news{% endblock body_class %}
{% block content %}
{% load news_tags %}
<header>
    <aside>{{ news.date_published|date:"M d, Y" }}</aside>
    <h1>{{ news.title }}</h1>
</header>
<section class="news-item">
    <figure>
    {% for image in object.newsitemimage_set.all %}
        <div>
            <img src="{{ image.image_file.url }}" title="{{ image.name }}" alt="{{ image.caption }}" />
        </div>
    {%  endfor %}
    </figure>
    {{ object.body_html|safe }}
</section>
<aside class="news-archive">
    <h2 class="news-archive-title--mailinglist">Subscribe to our mailing list</h2>
    {% include "includes/_mailchimp.html" %}
    <h2 class="news-archive-title--archive">Archive</h2>
    <ul class="linked-list">
    {% get_latest_news 10 as news_list %}
    {%  for news in news_list %}
        <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endblock content %}
