{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}map{% endblock %}
{% load compress %}
{% block head_title %}Plant Map{% endblock %}

{% block extra_style %}
{% compress css %}
<link rel="stylesheet" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.css' %}" />
<!--<link rel="stylesheet" href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' %}" />-->
<link rel="stylesheet" href="{% static 'bower_components/lightbox2/dist/css/lightbox.css' %}" />
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}

<script src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'bower_components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<script src="{% static 'bower_components/leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
<script src="{% static 'bower_components/spin.js/spin.js' %}"></script>
<script src="{% static 'js/leaflet.spin.js' %}"></script>
<script src="{% static 'bower_components/spin.js/spin.js' %}"></script>
<script src="{% static 'js/leaflet.spin.js' %}"></script>
<script src="{% static 'bower_components/lightbox2/dist/js/lightbox.min.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<nav class="map-nav attributes" id="attributes">
	<ul class="attribute-list icon-list">
	    {% for attribute in attribute_list %}
	        {% if attribute.icon %}
		<li style="background-image:url({{ attribute.icon.url }})"><a data-tag="{{ attribute.hashtag }}"
		data-name="{{ attribute.name }}: "
		data-description="{{ attribute.description }}"
		title="{{ attribute.name }}" 
		class="layer-link tooltip js-layer-trigger" href="#map">{{ attribute.name }}</a></li>
		{% endif %}
	    {% endfor %}
	</ul>
</nav>
<section class="info">
	<div class="map" id="map"></div>
	<aside class="details">
		<strong class="name"></strong>
		<span class="description">Click on the interactive map to discover SUP in your neighborhood. Filter by performance or species by using the icons.</span>
	</aside>
</section>
<nav class="map-nav plants">
	<ul class="category-list icon-list">
	{% for category in category_list %}
		{% if category.icon %}
		<li style="background-image:url({{ category.icon.url }})">
			<a data-tag="category-{{ category.id }}"
				data-name="{{ category.name }}"
				data-description=""
				title="{{ category.name }}"
				class="tooltip js-category-trigger"
				href="#map">{{ category.name }}</a>
		</li>
		{% endif %}
    {% endfor %}
    	<li class="all active" style="background-image:url({% static 'images/all.png' %})"><a data-tag="all"
		data-name="All Plants"
		title="All Plants" 
		data-description=""
		class="layer-link tooltip js-layer-trigger js-category-trigger"
		href="#map">All Plants</a></li>
	</ul>
	<ul class="plant-list">
		<li class="category all">
			<a data-tag="all"
			data-name="All Plants"
			title="All Plants" 
			data-description=""
			class="layer-link tooltip"
			href="#map">All Plants</a>
		</li>
		{% for category in category_list %}
		<li class="is-hidden category category-{{ category.id }}">
			<a data-tag="category-{{ category.id }}"
			data-name="{{ category.name }}"
			data-description=""
			title="{{ category.name }}" 
			class="layer-link tooltip"
			href="#map">{{ category.name }}</a>
		</li>
		{% endfor %}
		{% for plant in plant_list %}
		{% if plant.icon %}
		<li class="plant {% for cat in plant.categories.all %}category-{{ cat.id }} {% endfor %} all"><a data-tag="{{ plant.hashtag }}"
		data-name="{{ plant.latin_name }} "
		data-description="({{ plant.common_name }})"
		title="{{ plant.latin_name }}" 
		class="layer-link tooltip js-layer-trigger"
		href="#map">{{ plant.common_name }}</a></li>
		{% endif %}
		{% endfor %}
    </ul>
</nav>
{% endblock content %}
{% block extra_body %}
<script>
	// style

	var defaultMarkerStyle = {
        radius: 10,
        fillColor: "#d2df3b",
        color: "#d2df3b",
        weight: 0,
        opacity: 0,
        fillOpacity: 0.8
    };

	var markerColors = {
		defaultColor: "#d2df3b",
	    SUPDisturbanceadapted: "rgb(116, 76, 143)",
	    SUPwildlife: "rgb(235, 34, 137)",
	    SUPphytoremediation: "rgb(235, 183, 31)",
	    SUPmedicinal: "rgb(0, 166, 163)",
	    SUPmitigatingurbanheat: "#455657",
	    SUPretainstormh2o: "rgb(13, 117, 154)",
	    SUPnoiseregulation: "#0a4874",
	    SUPpreventerosion: "#dd4d15",
	    SUPinvasive: "rgb(241, 88, 34)",
	    SUPEcologicalDisservice: "rgb(241, 88, 34)",
	    SUPEdible: "rgb(190, 199, 50)",
	    SUPSequesterCO2: "rgb(101, 193, 155)",
	    SUPFloodPrevention: "rgb(126, 147, 158)",
	}

	var emptyMarkerStyle = {
        opacity: 0,
        fillOpacity: 0
    };

	// create a map in the "map" div
	var map = L.map('map');

	// add an OpenStreetMap tile layer
	var streets = L.tileLayer('http://api.tiles.mapbox.com/v3/mnegret.i9i0hhj2/{z}/{x}/{y}.png', {
    	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	map.scrollWheelZoom.disable();

	function removeAllLayers() {
		map.eachLayer(function (layer) {
			if (layer != streets) {
    			map.removeLayer(layer);
    		}
		});
	}

	// object that holds marker clusters
	var markerClusterGroups = {}

	function loadMapData(url, layerName, show, delay) {
		
		if (show) {
			// Show loading indicator.
			map.spin(true);
		}
		

		// If the map layer does not exist, create it.
		if (!markerClusterGroups.hasOwnProperty(layerName)) {
			var thisLayer = L.markerClusterGroup({ 
				singleMarkerMode: true,
				maxClusterRadius: 30,
				showCoverageOnHover: false,
				iconCreateFunction: function(cluster) {
					var childCount = cluster.getChildCount();
					var radius = 10;
					var area = (Math.PI * (radius * radius)) * childCount;
		    		var size = Math.sqrt(area / Math.PI) * 0.5;
		    		if (size < 10) { size = 10 }
		    		var html = '<div style="width:'+size+'px;height:'+size+'px;"></div>';
		    	    var markerClass = 'marker-cluster marker-cluster-' + layerName;
		    		return new L.DivIcon({ html: html, className: markerClass, iconSize: new L.Point(size, size) });
				}
			});

			markerClusterGroups[layerName] = thisLayer;

			thisData = L.geoJson.ajax(url, {
				onEachFeature: function onEachFeature(feature, layer) {

					thisLayer.addLayer(layer);

					var captionLink = "";
					var captionName = "";
					var captionDate = "";
					var captionCaption = "";
				
					if (feature.properties.plant) {
						captionLink = "<a href={% url 'plants' %}" + feature.properties.plant.hashtag + ">Go to PROFILE</a>";
					}

					if (feature.properties.plant) {
						captionName = "<span class=name>" + feature.properties.plant.latin_name + " - " + feature.properties.plant.common_name + "</span>";
					}

					if (feature.properties.date) {
						captionDate = "<span class=date>" + feature.properties.date + "</span>";
					}

					if (feature.properties.plant) {
						captionCaption = "<span class=caption>" + feature.properties.plant.hashtag + "</span>";
					} else {
						if (feature.properties.caption.length > 60) {
							var capString = feature.properties.caption.substring(0, 60) + "...";
						} else {
							capString = feature.properties.caption;
						}
						captionCaption = "<span class=caption>" + capString + "</span>";
					}
			
					var captionContent = '<span class=caption-wrapper>' + captionName + captionLink + captionCaption + captionDate + '</span>';
					var popupContent = '<a data-lightbox="' + feature.properties.id + '" data-title="' + captionContent + '"' + 'href="'+ feature.properties.image_url + '"><img width="150" height="150" src="' + feature.properties.image_url + '"></a>';

					
    				layer.bindPopup(popupContent);
    				
				}
			});

			thisData.on('data:loaded',function(){
				if (show || delay) {
					removeAllLayers();
					map.addLayer(thisLayer);
					if (show) {
						map.fitBounds(thisLayer);
    					map.spin(false);
					}
    				
				}	
			});

		} else {
			if (show || delay) {
				removeAllLayers();
				map.addLayer(markerClusterGroups[layerName]);
	   			if (show) {
					map.fitBounds(markerClusterGroups[layerName]);
    				map.spin(false);
				}
			}	
		}	
	} // end loadMapData()

    // click function to change between layers
	$('.js-layer-trigger').click(function (e) {
		//Get the id of the element clicked
    	var tagName = $(this).data('tag');
  
	   	if (markerColors[tagName] === undefined) {
	    	color = markerColors['defaultColor'];
	   	} else {
			color = markerColors[tagName];
	   	}

	   	var url;
		
		if (tagName == 'all') {
	   		url = '{% url "api-image-list" %}?format=json';
	   	} else {
	   		url = '{% url "api-image-list" %}?tag=' + tagName + '&format=json';
	   	}

	    loadMapData(url, tagName, true)
	   	
		$(".leaflet-popup-close-button").click();
	   	$('.name').text($(this).data('name'));
	   	$('.description').text($(this).data('description'));
	   	$('aside.details').css( 'border-color', color );
	   	$('.map-nav ul li').removeClass("active");

	   	var list = $(this).closest('ul');
	   	if ($(list).hasClass('attribute-list')) {
	   		$('.plant-list li').removeClass('active');
	   		$('.plant-list li').removeClass('is-hidden');
	   		$('.plant-list li.category').addClass('is-hidden');
	   		$('.plant-list li.category.all').removeClass('is-hidden');
	   		$('.category-list li.all').addClass('active');
	   	}
	   	$(this).parent().toggleClass("active");
	});

</script>

<script>
	// show hide plants per category
	$('.js-category-trigger').click(function (e) {
		//Get the id of the element clicked
       var category = $(this).data('tag');
       
       $('.plant-list li').addClass('is-hidden');
       $('.plant-list li.' + category).removeClass('is-hidden');

	});
</script>


<script>
     $(document).ready(function() {
     	$('.tooltip').tooltipster({
   			position: 'right'
     	});
     });
</script>
<script>
// Load initial map data 
$(document).ready(function() {
	// if linking to specific image: load image, display on map, zoom, and open popup
	{% if image_id %}
		var image = L.geoJson.ajax('{% url "api-image-detail" image_id %}?format=json', {
			pointToLayer: function (feature, latlng) {
        		return L.circleMarker(latlng, emptyMarkerStyle);
    		},
			onEachFeature: function(feature, layer) {
				var captionLink = "";
				var captionName = "";
				var captionDate = "";
				var captionCaption = "";
				if (feature.properties.plant) {
					captionLink = "<a href={% url 'plants' %}" + feature.properties.plant.hashtag + ">Go to PROFILE</a>";
				}

				if (feature.properties.plant) {
					captionName = "<span class=name>" + feature.properties.plant.latin_name + " - " + feature.properties.plant.common_name + "</span>";
				}

				if (feature.properties.date) {
					captionDate = "<span class=date>" + feature.properties.date + "</span>";
				}

				if (feature.properties.plant) {
					captionCaption = "<span class=caption>" + feature.properties.plant.hashtag + "</span>";
				} 
				else {
					if (feature.properties.caption.length > 60) {
						var capString = feature.properties.caption.substring(0, 60) + "...";
					} else {
						capString = feature.properties.caption;
					}
					captionCaption = "<span class=caption>" + capString + "</span>";
				}
				
				var captionContent = '<span class=caption-wrapper>' + captionName + captionLink + captionCaption + captionDate + '</span>';
				var popupContent = '<a data-lightbox="' + feature.properties.id + '" data-title="' + captionContent + '"' + 'href="'+ feature.properties.image_url + '"><img width="150" height="150" src="' + feature.properties.image_url + '"></a>';
				marker = layer;
        		marker.bindPopup(popupContent);
			}
		}).addTo(map);

		image.on('data:loaded',function(){
			center = image.getBounds().getCenter();
			map.setView(center, 15);
			marker.openPopup();
			// Load inital data 
			// Get the map bounds
			var bounds = map.getBounds().toBBoxString();
			// Build url string.
			var initialUrl = '{% url "api-image-list" %}?bbox=' + bounds + '&format=json';
			// Load layer data.
			loadMapData(initialUrl, 'initial', true, false);
		});
	{% else %}
	    map.setView([40.676898, -73.995308], 11);  
	    // Load inital data 
		// Get the map bounds
		var bounds = map.getBounds().toBBoxString();
		// Build url string.
		var initialUrl = '{% url "api-image-list" %}?bbox=' + bounds + '&format=json';
		// Load layer data.
		loadMapData(initialUrl, 'initial', true, false);
	{% endif %}

	var allUrl = '{% url "api-image-list" %}?format=json';

	loadMapData(allUrl, 'all', false, true);
});
</script>
{% endblock extra_body %}
