{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% block head_title %}Plant Map{% endblock %}

{% block extra_style %}

{% compress css %}
<link rel="stylesheet" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'bower_components/lightbox2/css/lightbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/tooltipster/css/tooltipster.css' %}" />
{% endcompress %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'bower_components/lightbox2/js/lightbox.min.js' %}"></script>
<script src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/tooltipster/js/jquery.tooltipster.min.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<nav class="map-nav attributes">
	<ul>
	    {% for attribute in attribute_list %}
		<li style="background-image:url({{ attribute.icon.url }})"><a data-tag="{{ attribute.hashtag }}"
		data-name="{{ attribute.name }}: "
		data-description="{{ attribute.description }}"
		title="{{ attribute.name }}" 
		class="layer-link tooltip" href="#">{{ attribute.name }}</a></li>
	    {% endfor %}
	</ul>
</nav>
<section class="info">
	<div class="map" id="map"></div>
	<aside class="details">
		<strong class="name"></strong>
		<span class="description">Click on the interactive map to discover SUP in your neighborhood. Filter by performance or species by using the icons.</span>
	</aside>
</section>
<nav class="map-nav plants">
	<ul>
	<li class="all active"><a data-tag="all"
		data-name=""
		data-description="Click on the interactive map to discover SUP in your neighborhood. Filter by performance or species by using the icons."
		title="All" 
		class="layer-link tooltip" 
		href="#">{{ plant.common_name }}</a></li>
	</ul>
	<ul>
		{% for plant in plant_list|slice:":6" %}
		<li class="pre" style="background-image:url({{ plant.icon.url }})"><a data-tag="{{ plant.hashtag }}"
		data-name="{{ plant.latin_name }} "
		data-description="({{ plant.common_name }})"
		title="{{ plant.latin_name }}" 
		class="layer-link tooltip"
		href="#">{{ plant.common_name }}</a></li>
		{% endfor %}
	</ul>
	<ul>
		{% for plant in plant_list|slice:"6:" %}
		<li class="post" style="background-image:url({{ plant.icon.url }})"><a data-tag="{{ plant.hashtag }}"
		data-name="{{ plant.latin_name }} "
		data-description="({{ plant.common_name }})"
		title="{{ plant.latin_name }}" 
		class="layer-link tooltip"
		href="#">{{ plant.common_name }}</a></li>
		{% endfor %}
    </ul>


</nav>
{% endblock content %}
{% block extra_body %}
<script>
	// style

	var defaultMarkerStyle = {
        radius: 10,
        fillColor: "#d2df3b",
        color: "#d2df3b",
        weight: 0,
        opacity: 0,
        fillOpacity: 0.8
     };

	var markerColors = {
		defaultColor: "#d2df3b",
	    SUPDisturbanceadapted: "#eb1f89",
	    SUPwildlife: "#74498e",
	    SUPphytoremediation: "#FFD847",
	    SUPmedicinal: "#01a4a0",
	    SUPmitigatingurbanheat: "#455657",
	    SUPretainstormh2o: "#0e7599",
	    SUPnoiseregulation: "#0a4874",
	    SUPpreventerosion: "#dd4d15",
	    SUPinvasive: "#f55100",
	    SUPEdible: "#006838",
	    SUPcarboncapture: "#1bda9f",
	}

	var emptyMarkerStyle = {
        opacity: 0,
        fillOpacity: 0
    };

	// create a map in the "map" div
	var map = L.map('map');

	// add an OpenStreetMap tile layer
	var streets = L.tileLayer('http://api.tiles.mapbox.com/v3/mnegret.i9i0hhj2/{z}/{x}/{y}.png', {
    	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);


	// if linking to specific image: load image, display on map, zoom, and open popup
	{% if image_id %}
		var image = L.geoJson.ajax('{% url "api-image-detail" image_id %}?format=json', {
			pointToLayer: function (feature, latlng) {
        		return L.circleMarker(latlng, emptyMarkerStyle);
    		},
			onEachFeature: function(feature, layer) {
				var popupContent = '<a data-lightbox="' + feature.id + '" data-title="' + feature.properties.plant + ' ' + feature.properties.caption + '" href="'+ feature.properties.remote_standard_resolution_url + '"><img width="150" height="150" src="' + feature.properties.remote_thumbnail_url + '"></a>';
				marker = layer;
        		marker.bindPopup(popupContent);
			}
		}).addTo(map);

		image.on('data:loaded',function(){
			center = image.getBounds().getCenter();
			map.setView(center, 15);
			marker.openPopup();
		});
	{% else %}
	    map.setView([40.676898, -73.995308], 11);  
	{% endif %}

	
	// object that hold marker clusters
	var mapLayerGroups = {}


	function onEachFeature(feature, layer) {

       var tags = feature.properties.tags

       for (var i = 0; i < tags.length; i++) {
        	var lg = mapLayerGroups[tags[i]];
                        
            if (lg === undefined) {
            	lg = new L.featureGroup();
                //store layer
                mapLayerGroups[tags[i]] = lg;
            }

            lg.addLayer(layer);
              
        }

 		var all_lg = mapLayerGroups['all'];
          

        if (all_lg === undefined) {
        	all_lg = new L.layerGroup();
            mapLayerGroups['all'] = all_lg;
        }


        all_lg.addLayer(layer);

        var popupContent = '<a data-lightbox="' + feature.id +'" data-title="' + feature.properties.plant +' ' + feature.properties.caption +'" href="'+ feature.properties.remote_standard_resolution_url + '"><img width="150" height="150" src="' + feature.properties.remote_thumbnail_url + '"></a>';

        layer.bindPopup(popupContent);
     }
    

	var locations = $.getJSON("{% url 'api-image-list' %}?format=json", function(data) {
    		L.geoJson(data, {
              	pointToLayer: function (feature, latlng) {
            	return L.circleMarker(latlng, defaultMarkerStyle);
            },
            onEachFeature: onEachFeature
            }).addTo(map);
    })


	function removeAllLayers() {
		map.eachLayer(function (layer) {
			if (layer != streets) {
    			map.removeLayer(layer)
    		}
		});
	}


    // click function to change between layers
	$('a.layer-link').click(function (e) {
		//Get the id of the element clicked
       var tagName = $(this).data('tag');
       // look up layer object by id 
  
	   if (markerColors[tagName] === undefined) {
	       color = markerColors['defaultColor'];
	   } else {
		   color = markerColors[tagName];
	   }

	   removeAllLayers();

	   var tagLayer = mapLayerGroups[tagName]

	   var bounds = tagLayer.getBounds();

	   console.log(bounds);

	   map.addLayer(tagLayer);

	   map.fitBounds(bounds);
	   
	   //tagLayer.setStyle({ fillColor: color });

	   $(".leaflet-popup-close-button").click()
	   $('.name').text($(this).data('name'));
	   $('.description').text($(this).data('description'));
	   $('aside.details').css( 'border-color', color )
	   $('.map-nav ul li').removeClass("active");
	   $(this).parent().toggleClass("active");
	   e.preventDefault()
       map.eachLayer(function (layer) {
       		if (layer != streets) {
          		//console.log(layer)
          		layer.setStyle({ fillColor: color });
        	}
     	});

	})
</script>


<script>
     $(document).ready(function() {
     	$('.tooltip').tooltipster({
   			position: 'right'
     	});
     });
</script>
{% endblock extra_body %}
