@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


div.leaflet-control-attribution {
	a {
		color: $dark-gray;
	}
}

body {
	header {
		@include outer-container;
            nav { 
               position: relative;
               @include outer-container;
               background: url('../../images/banner.png') no-repeat;
               background-position: 0;
               background-size: 100% auto;
               margin-bottom: 2.70892%;
               margin-top: 2.70892%;
               height: 0;
               padding-bottom: 9.25%;

                h1 {
	                @include span-columns(16); 
	                overflow: hidden;
	                a {
	                	display: block;
	                	width: 100%;
	                	height: 100%;
	                	text-indent: -999999px;
	                }
                }
	        	ul {
                   	position: absolute;
                   	top: 30%;
                   	right: 2.5%;
                   	@include span-columns(8);
                   	@include omega();
	           	 	
	           	 	li {
                     @include span-columns(1.6 of 8);
                     @include omega(5n);

                     a {
                     	display: block;
                     	//height:0;
                     	//padding-bottom: 25%;
                     	background-size: auto 100%;
                     	//text-indent: -99999px
                     }
                     #about-nav {
                     	background: url('../../images/about.png') no-repeat;
                     	background-size: auto 100%;
                     	background-position: 50% 50%;

                     }
                     #map-nav {
                     	background: url('../../images/map.png') no-repeat;
                     	background-size: auto 100%;
                     	background-position: 50% 50%;
                     }
                     #gallery-nav {
                     	background: url('../../images/gallery.png') no-repeat;
                     	background-size: auto 100%;
                     	background-position: 50% 50%;
                     }
	           }
		}
	    }
	}

	section {
	    div.content {
		   @include outer-container;
	    }
	}

	footer {
               margin-bottom: 1.35446%;
               margin-top: 1.35446%;

		@include outer-container;
                p {
                 font-size: .75em;
                 @include span-columns(12);
                }
                ul {
                 @include span-columns(12);
                 @include omega();
                 text-align: right;
                 li { 
                     font-size: .75em;
                     display: inline;
                     &:after {
                     	content: "|";
                     	padding: 0 8px;
                     }
                     &:last-child:after {
                     	content: "";
                     }
                 }
                }
	}
}

section.image-grid { 
	@include outer-container;
  		div {
  			@include span-columns(6); 
  			@include omega(4n);
  			margin-bottom: 0.67267%;
  			padding-bottom: 0.67267%;
  			padding-right: 0.67267%;
  			position:relative;
  			a {
  				display:block;
  				width:100%;
  				@include transition(all 0.5s ease-in-out);


  				h1 {
  					visibility: hidden;
  					opacity: 0;
	  				position: absolute;
	  				top: 0;
	  				left: 0;
	  				color: white;
	  				@include transition(all 0.5s ease-in-out);
	  				padding: $small-spacing;
	  			}

  				&:hover {
  					-moz-box-shadow: inset 0px 0px 200px rgba(0,0,0,0.9);
    				-webkit-box-shadow: inset 0px 0px 200px rgba(0,0,0,0.9);
    				box-shadow: inset 0px 0px 200px rgba(0,0,0,0.9);
    				h1 {
    					visibility: visible;
    					opacity: 1.0;
    				}
				}
			}

  			img {
  				width: 100%;
  				display: block;
  				position: relative;
  				z-index: -1;
  			}


  		}
  	}


nav.map-nav {
	ul {
		li {
			height: 0;
			overflow: hidden;
			text-indent: -999999px;
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: top left;
			a {
				display: block;
				height:0;
				padding-top: 100%;
			}

			&:hover {
				background-position: 100% 100%;
			}
		}
		li.active {
				background-position: 100% 100%;
		}
	}
}

nav.attributes {
	@include span-columns(1);
	ul {
		li {
			@include span-columns(1 of 1);
			@include omega(1n);
			padding-bottom: 100%;
			margin-bottom: 19.0991%;
		}
	}
}

section.info {
	@include span-columns(18);
	div.map {
		height: 0px;
		padding-bottom: 61%;
		@include span-columns(16 of 18);
		@include shift(1);
	}
	aside.details {
		@include span-columns(16 of 18);
		@include shift(1);
		border:2px solid $green;
		font-size: .75em;
		line-height: 1.2em;
		margin-top: 1.35446%;
		padding: 1.35446%;
		clear: both;
    }
}

nav.plants {
	@include span-columns(5);
	@include omega();
	position: relative;
	ul {
		li {
			@include span-columns(1 of 5);
			padding-bottom: 17.34917%;
			margin-bottom: 3.31354%;
		}

		li.all {
			@include omega();
			position: absolute;
			top: 0;
			right: 0;
			@include span-columns(2 of 5);
			background: url('../../images/all.png');
			background-size: 100% auto;
			padding-bottom: 38.01188%;

			&:hover {
				background-position: 100% 100%;
			}
		}

		li.active {
			background-position: 100% 100%;
		}

		li.pre {
			@include omega(3n);
		}

		li.post {
			@include omega(5n);
		
			&:first-of-type {
				clear: both;
			}
		}
	}

}

body.about {
	section.about-content {
		@include span-columns(6);
		@include omega(4n);

		h1 {
			padding-left: $gutter;
		}

		div.about-body {
			border-left: 1px solid $green;
			padding-left: $gutter;
			font-size: $small-font-size;

			img {
				width: 100%;
			}

		}

		&:first-child {
			h1 {
				padding-left: 0;
			}

			div.about-body {
				padding-left: 0;
				border-left: none;
			}
		}
	   
	}
}

body.services {
	section.service-block {
	   @include span-columns(6);
	   @include omega(5n);
	   background-color: #333;
	   color: white;
	   padding: $gutter;
	   h2 {
	     text-transform: uppercase;
	     text-align: center;
	     font-size: 1em;
	   }
	   div.service-text {
	     text-align: justify;
	     font-size: .75em
	   }
	}
}

body.profiles {
  .slideshow {
    @include span-columns(13);
    padding-right: $gutter;
  }

  .details {
    @include span-columns(11);
    @include omega;

    h1 {
      font-size: 1.1em;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: none;
    }

    h2 {
      font-size: 1.1em;
      font-weight: 400;
      text-transform: none;
    }

    h3 {
      font-size: $base-font-size;
      text-transform: none;
      margin-bottom: $small-spacing/2;
    }

    .chart {
      display: block;
      margin: $base-spacing 0 $base-spacing*1.5 0;
    }

    .description {
      font-size: .9rem;
      text-align: justify;
      @include span-columns(8 of 11);
      padding-right: $base-spacing * 1.5;
    }

    .metrics {
      @include span-columns(3 of 11);
    }

    .count {
      position: relative;
      width: 100%;
      background: $green;
      font-size: 4em;
      font-weight: 700;
      text-align: center;
      //padding: $small-spacing;
      margin-bottom: $small-spacing;
      color: white;

      h3 {
        margin: 0;
        padding: 0;
      }

      &::after {
        content: "specimens";
        background: $green;
        text-align: right;
        display: block;
        font-size: 1rem;
        padding: $small-spacing/2 $small-spacing;
        margin: 0;
        font-family: $heading-font-family;
        font-weight: bold;
        color: white;
      }
    }

    .origin {
      background: $green;
      padding: $small-spacing/2 $small-spacing;
      color: white;
      font-weight: 600;
    }
  }
}

.slideshow-carousel {
  @include display(flex);
  overflow-x: hidden;
}

.slideshow-slide {
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
    padding: $small-spacing;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    @include display(flex);
    @include flex-wrap(wrap);
    background: transparentize(black, 0.5);
    color: white;
    

    .caption-description {
      width: 100%;
    }

    .caption-location {
      @include flex(1);
    }

    .caption-date {
      @include flex(none);

    }
  }
}

   
  


/* slideshow */

/*
.slideshow {
    float:left;
    width:58.33333%;
    position: relative;
    overflow: hidden;

}


.slideshow .carousel {
    position: relative;
    margin: 10px;
}

.slideshow .carousel .slides img {
    width:100%;
    display:block;
}

.slideshow .carousel .slides li {
    display:none;
    position:relative;
}

.slideshow .carousel .flex-caption {
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.6);
    color:#fff;
    line-height:40px;
    padding:0 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.slideshow .controls {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
    background:url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px,
               url('images/corner-bg-bottom-right.png') no-repeat right bottom;

}

.slideshow .controls ul {
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
}

.slideshow .controls li {
    list-style: none;
    float:left;
    width: 14.2857143%;
}

.slideshow .controls img {
    width:100%;
    display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0.4;
    filter:alpha(opacity=40); For IE8 and earlier 
}

.slideshow .controls a.active img,
.slideshow .controls a:hover img {
    opacity:1.0;
    filter:alpha(opacity=100);  For IE8 and earlier 
}

.slideshow nav.expand {
    position:absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
    right:40px;
    width:40px;
    background: transparent;
    z-index:20000;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
}

.slideshow nav.expand a,
.slideshow nav.expand a:link,
.slideshow nav.expand a:hover,
.slideshow nav.expand a:active,
.slideshow nav.expand a:visited {
    display:block;
    height:0;
    line-height:0;
    text-align:center;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -transition: all .2s ease-in;
    font-size:2em;
    font-family:monospace;
    font-weight:bold;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slideshow nav.expand a:hover {
   -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
    font-size:3em;
    color: rgba(255,255,255,1.0);
}

.slideshow:hover nav.expand a {
   height:40px;
   line-height:40px;
}

.slideshow #close {
    display:none;
}

.slideshow .flex-direction-nav {
   width:120px;
   position:absolute;
   top:10px;
   right:10px;
   z-index:15000;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   overflow: hidden;
   -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -transition: all .2s ease-in;
    overflow: hidden;
    -moz-box-shadow: -1px 1px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: -1px 1px 5px rgba(0,0,0,.5);
    box-shadow: -1px 1px 5px rgba(0,0,0,.5);
}

.slideshow .flex-direction-nav li {
    width:40px;
    float:right;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
}

.slideshow .flex-direction-nav li:first-child {
    float:left;
}

.slideshow .flex-direction-nav a {
    display:block;
    float:left;
    width:40px;
    height:0;
    line-height:0;
    margin:0;
    text-align:center;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -transition: all .2s ease-in;
    font-size:2em;
    font-family:monospace;
    font-weight:bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.slideshow .flex-direction-nav a:hover {
    font-size:3em;
    color: rgba(255,255,255,1.0);
}

.slideshow:hover .flex-direction-nav a {
    height:40px;
    line-height:40px;
}

.slideshow .flex-direction-nav .next {

}

.slideshow .flex-direction-nav .prev {}

.home .slideshow {
    width:100%;
    margin-bottom: 10px;
}

.home .slideshow .text {
    position:absolute;
    bottom:0px;
    left:0px;
    background-color: rgba(255,255,255,0.6);
    font-size:.9em;
}

.home .slideshow .image {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.home .slideshow .text h2 {
    text-transform: uppercase;
}


.home .slideshow .text a {

}

.portfolio .slideshow,
.portfolio .slideshow .carousel .slides li {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -transition: all .3s ease-out;
}

.portfolio .slideshow {
    background:url('images/corner-bg-top-right.png') no-repeat right top,
               url('images/vertical-bg.png') no-repeat 10px 90%,
               url('images/vertical-bg.png') no-repeat 10px top,
               url('images/bottom-bg.png') no-repeat left 10px;

}


.portfolio .slideshow .carousel {
   background:url('images/vertical-bg.png') no-repeat right bottom,
               url('images/bottom-bg.png') no-repeat left bottom;

}

*/
